[Unit]
Description=mytyltyl
After=network.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/mytyltyl-server/
ExecStart=/usr/local/bin/mytyltyl-server/mytyltyl-server
ExecStop=/bin/kill -WINCH ${MAINPID}
Restart=always

[Install]
WantedBy=multi-user.target
